source audio/Kconfig
source block/Kconfig
source char/Kconfig
source core/Kconfig
source display/Kconfig
source input/Kconfig
source intc/Kconfig
source net/Kconfig
source pci-host/Kconfig
source pci/Kconfig
source rtc/Kconfig
source usb/Kconfig
source virtio/Kconfig

source arm/Kconfig
config TEST_DEVICES
    bool

config AARCH64
    bool
    default y
config ARM
    bool
    default y
